# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Uu]nityGenerated/
[Ll]ibrary/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Assets/Source/_Scenes/Pablo.unity_backup_0
Assets/Source/_Scenes/Pablo.unity_backup_0.meta
Assets/Source/_Scenes/Pablo.unity_backup_1
Assets/Source/_Scenes/Pablo.unity_backup_1.meta
Assets/Source/_Scenes/Pablo.unity_backup_2
Assets/Source/_Scenes/Pablo.unity_backup_2.meta
Assets/Source/_Scenes/Pablo.unity_backup_3
Assets/Source/_Scenes/Pablo.unity_backup_3.meta
Assets/Source/_Scenes/Pablo.unity_backup_4
Assets/Source/_Scenes/Pablo.unity_backup_4.meta
Assets/Source/_Scenes/Pablo.unity_sorted
Assets/Source/_Scenes/Pablo.unity_sorted.meta
Assets/Source/_Scenes/Pablo_backup.unity
Assets/Source/_Scenes/Pablo_backup.unity.meta
Assets/Source/Scripts/Python/sortPablo.py
Assets/Source/_Scenes/Eric.unity_backup_0.meta
Assets/Source/_Scenes/Eric.unity_sorted.meta
Build/iOS/AncientAliens/Info.plist
Build/iOS/AncientAliens/Classes/CrashReporter.h
Build/iOS/AncientAliens/Classes/CrashReporter.mm
Build/iOS/AncientAliens/Classes/iPhone_Common.h
Build/iOS/AncientAliens/Classes/iPhone_OrientationSupport.h
Build/iOS/AncientAliens/Classes/iPhone_OrientationSupport.mm
Build/iOS/AncientAliens/Classes/iPhone_Profiler.cpp
Build/iOS/AncientAliens/Classes/iPhone_Profiler.h
Build/iOS/AncientAliens/Classes/iPhone_Sensors.h
Build/iOS/AncientAliens/Classes/iPhone_Sensors.mm
Build/iOS/AncientAliens/Classes/iPhone_target_Prefix.pch
Build/iOS/AncientAliens/Classes/main.mm
Build/iOS/AncientAliens/Classes/PLCrashReporter.h
Build/iOS/AncientAliens/Classes/Preprocessor.h
Build/iOS/AncientAliens/Classes/RegisterClasses.cpp
Build/iOS/AncientAliens/Classes/RegisterClasses.h
Build/iOS/AncientAliens/Classes/UnityAppController+Rendering.h
Build/iOS/AncientAliens/Classes/UnityAppController+Rendering.mm
Build/iOS/AncientAliens/Classes/UnityAppController.h
Build/iOS/AncientAliens/Classes/UnityAppController.mm
Build/iOS/AncientAliens/Classes/UnityTrampolineConfigure.h
Build/iOS/AncientAliens/Classes/PluginBase/AppDelegateListener.h
Build/iOS/AncientAliens/Classes/PluginBase/AppDelegateListener.mm
Build/iOS/AncientAliens/Classes/PluginBase/LifeCycleListener.h
Build/iOS/AncientAliens/Classes/PluginBase/LifeCycleListener.mm
Build/iOS/AncientAliens/Classes/PluginBase/RenderPluginDelegate.h
Build/iOS/AncientAliens/Classes/PluginBase/RenderPluginDelegate.mm
Build/iOS/AncientAliens/Classes/UI/ActivityIndicator.h
Build/iOS/AncientAliens/Classes/UI/ActivityIndicator.mm
Build/iOS/AncientAliens/Classes/UI/iAD.h
Build/iOS/AncientAliens/Classes/UI/iAD.mm
Build/iOS/AncientAliens/Classes/UI/iAD_Scripting.mm
Build/iOS/AncientAliens/Classes/UI/Keyboard.h
Build/iOS/AncientAliens/Classes/UI/Keyboard.mm
Build/iOS/AncientAliens/Classes/UI/SplashScreen.h
Build/iOS/AncientAliens/Classes/UI/SplashScreen.mm
Build/iOS/AncientAliens/Classes/UI/UnityAppController+ViewHandling.h
Build/iOS/AncientAliens/Classes/UI/UnityAppController+ViewHandling.mm
Build/iOS/AncientAliens/Classes/UI/UnityView.h
Build/iOS/AncientAliens/Classes/UI/UnityView.mm
Build/iOS/AncientAliens/Classes/UI/UnityViewControllerBase.h
Build/iOS/AncientAliens/Classes/UI/UnityViewControllerBase.mm
Build/iOS/AncientAliens/Classes/UI/VideoViewController.h
Build/iOS/AncientAliens/Classes/UI/VideoViewController.mm
Build/iOS/AncientAliens/Classes/Unity/CMVideoSampling.h
Build/iOS/AncientAliens/Classes/Unity/CMVideoSampling.mm
Build/iOS/AncientAliens/Classes/Unity/CVTextureCache.h
Build/iOS/AncientAliens/Classes/Unity/CVTextureCache.mm
Build/iOS/AncientAliens/Classes/Unity/DeviceSettings.mm
Build/iOS/AncientAliens/Classes/Unity/DisplayManager.h
Build/iOS/AncientAliens/Classes/Unity/DisplayManager.mm
Build/iOS/AncientAliens/Classes/Unity/EAGLContextHelper.h
Build/iOS/AncientAliens/Classes/Unity/EAGLContextHelper.mm
Build/iOS/AncientAliens/Classes/Unity/GlesHelper.h
Build/iOS/AncientAliens/Classes/Unity/GlesHelper.mm
Build/iOS/AncientAliens/Classes/Unity/ScriptIntegration.mm
Build/iOS/AncientAliens/Classes/Unity/UnityInterface.h
Build/iOS/AncientAliens/Classes/Unity/VideoPlayer.h
Build/iOS/AncientAliens/Classes/Unity/VideoPlayer.mm
Build/iOS/AncientAliens/Classes/Unity/WWWConnection.h
Build/iOS/AncientAliens/Classes/Unity/WWWConnection.mm
Build/iOS/AncientAliens/Data/mainData
Build/iOS/AncientAliens/Data/PlayerConnectionConfigFile
Build/iOS/AncientAliens/Data/resources.assets
Build/iOS/AncientAliens/Data/sharedassets0.assets
Build/iOS/AncientAliens/Data/unity default resources
Build/iOS/AncientAliens/Data/Managed/Assembly-CSharp-firstpass.dll
Build/iOS/AncientAliens/Data/Managed/Assembly-CSharp-firstpass.dll.mdb
Build/iOS/AncientAliens/Data/Managed/Assembly-CSharp.dll
Build/iOS/AncientAliens/Data/Managed/Assembly-CSharp.dll.mdb
Build/iOS/AncientAliens/Data/Managed/Assembly-UnityScript-firstpass.dll
Build/iOS/AncientAliens/Data/Managed/Assembly-UnityScript-firstpass.dll.mdb
Build/iOS/AncientAliens/Data/Managed/Mono.Security.dll
Build/iOS/AncientAliens/Data/Managed/Mono.Security.dll.mdb
Build/iOS/AncientAliens/Data/Managed/mscorlib.dll
Build/iOS/AncientAliens/Data/Managed/mscorlib.dll.mdb
Build/iOS/AncientAliens/Data/Managed/System.Core.dll
Build/iOS/AncientAliens/Data/Managed/System.Core.dll.mdb
Build/iOS/AncientAliens/Data/Managed/System.dll
Build/iOS/AncientAliens/Data/Managed/System.dll.mdb
Build/iOS/AncientAliens/Data/Managed/UnityEngine.dll
Build/iOS/AncientAliens/Data/Managed/UnityEngine.UI.dll
Build/iOS/AncientAliens/Data/Managed/UnityEngine.UI.dll.mdb
Build/iOS/AncientAliens/Data/Managed/mono/2.0/machine.config
Build/iOS/AncientAliens/Data/Resources/unity_builtin_extra
Build/iOS/AncientAliens/Libraries/Assembly-CSharp-firstpass.dll.s
Build/iOS/AncientAliens/Libraries/Assembly-CSharp.dll.s
Build/iOS/AncientAliens/Libraries/Assembly-UnityScript-firstpass.dll.s
Build/iOS/AncientAliens/Libraries/libiPhone-lib.a
Build/iOS/AncientAliens/Libraries/Mono.Security.dll.s
Build/iOS/AncientAliens/Libraries/mscorlib.dll.s
Build/iOS/AncientAliens/Libraries/RegisterMonoModules.cpp
Build/iOS/AncientAliens/Libraries/RegisterMonoModules.h
Build/iOS/AncientAliens/Libraries/System.Core.dll.s
Build/iOS/AncientAliens/Libraries/System.dll.s
Build/iOS/AncientAliens/Libraries/UnityEngine.dll.s
Build/iOS/AncientAliens/Libraries/UnityEngine.UI.dll.s
Build/iOS/AncientAliens/Unity-iPhone Tests/Unity-iPhone Tests-Info.plist
Build/iOS/AncientAliens/Unity-iPhone Tests/Unity-iPhone Tests-Prefix.pch
Build/iOS/AncientAliens/Unity-iPhone Tests/Unity_iPhone_Tests.m
Build/iOS/AncientAliens/Unity-iPhone Tests/en.lproj/InfoPlist.strings
Build/iOS/AncientAliens/Unity-iPhone.xcodeproj/aaronsmith.pbxuser
Build/iOS/AncientAliens/Unity-iPhone.xcodeproj/project.pbxproj
Build/iOS/AncientAliens/Unity-iPhone.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Build/iOS/AncientAliens/Unity-iPhone.xcodeproj/project.xcworkspace/xcshareddata/Unity-iPhone.xccheckout
Build/iOS/AncientAliens/Unity-iPhone.xcodeproj/project.xcworkspace/xcuserdata/aaronsmith.xcuserdatad/UserInterfaceState.xcuserstate
Build/iOS/AncientAliens/Unity-iPhone.xcodeproj/xcshareddata/xcschemes/Unity-iPhone.xcscheme
Build/iOS/AncientAliens/Unity-iPhone.xcodeproj/xcuserdata/aaronsmith.xcuserdatad/xcschemes/xcschememanagement.plist
Build/iOS/AncientAliens/Unity-iPhone/Images.xcassets/AppIcon.appiconset/Contents.json
Build/iOS/AncientAliens/Unity-iPhone/Images.xcassets/AppIcon.appiconset/Icon.png
Build/iOS/AncientAliens/Unity-iPhone/Images.xcassets/LaunchImage.launchimage/Contents.json
Build/iOS/AncientAliens/Unity-iPhone/Images.xcassets/LaunchImage.launchimage/Default-568h@2x.png
Build/iOS/AncientAliens/Unity-iPhone/Images.xcassets/LaunchImage.launchimage/Default-Landscape.png
Build/iOS/AncientAliens/Unity-iPhone/Images.xcassets/LaunchImage.launchimage/Default-Landscape@2x.png
Build/iOS/AncientAliens/Unity-iPhone/Images.xcassets/LaunchImage.launchimage/Default-Portrait.png
Build/iOS/AncientAliens/Unity-iPhone/Images.xcassets/LaunchImage.launchimage/Default-Portrait@2x.png
Build/iOS/AncientAliens/Unity-iPhone/Images.xcassets/LaunchImage.launchimage/Default.png
Build/iOS/AncientAliens/Unity-iPhone/Images.xcassets/LaunchImage.launchimage/Default@2x.png
