# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Uu]nityGenerated/
[Ll]ibrary/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Assets/Source/_Scenes/Pablo.unity_backup_0
Assets/Source/_Scenes/Pablo.unity_backup_0.meta
Assets/Source/_Scenes/Pablo.unity_backup_1
Assets/Source/_Scenes/Pablo.unity_backup_1.meta
Assets/Source/_Scenes/Pablo.unity_backup_2
Assets/Source/_Scenes/Pablo.unity_backup_2.meta
Assets/Source/_Scenes/Pablo.unity_backup_3
Assets/Source/_Scenes/Pablo.unity_backup_3.meta
Assets/Source/_Scenes/Pablo.unity_backup_4
Assets/Source/_Scenes/Pablo.unity_backup_4.meta
Assets/Source/_Scenes/Pablo.unity_sorted
Assets/Source/_Scenes/Pablo.unity_sorted.meta
Assets/Source/_Scenes/Pablo_backup.unity
Assets/Source/_Scenes/Pablo_backup.unity.meta
Assets/Source/Scripts/Python/sortPablo.py
/scene.backup
/scene.snapshot
/scene.sort
